body{
    background-color: #F6F6F9;
}

.contenido-logo{

    margin-top: 15%;
    margin-bottom: 15%;
}

.contenido-logo nav{

    display: flex;
    justify-content: center;
}



.titulo{

    display: flex;
    justify-content: center;
    margin-bottom: 10%;

}



.titulo h3{

    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #000000;
    margin: 0;

}

.contenedor-categorias{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 0px;
    padding: 1rem;
}

.categoria-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.sombra:hover{
    border: solid 1px #FFFFFF;
    cursor: pointer;
    background-color: #FFFFFF;
    width: 6rem;
    border-radius: 1rem;
    padding: 0.5rem;
    height: 6rem;
}


.categoria-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.categoria-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.categoria-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

<!---------Seccion Empresas-->



body{
    background-color: #F6F6F9;
}

.contenido-logo{

    margin-top: 15%;
    margin-bottom: 15%;
}

.contenido-logo nav{

    display: flex;
    justify-content: center;
}

.parrafo{

    display: flex;
    justify-content: flex-start;
    margin-left: 1rem;
}

.contenido-empresas{
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    border-radius: 10px;
    padding: 0.5rem;
}

.img-empresa{

    display: flex;
    justify-content: center;
    align-items: center;
}

.descripción-empresa{

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}


<!---------Seccion Poductos---->

body{
    background-color: #F6F6F9;
}

.contenido-logo{

    margin-top: 15%;
    margin-bottom: 15%;
}

.contenido-logo nav{

    display: flex;
    justify-content: center;
}

.titulo{

    display: flex;
    justify-content: center;
    margin-bottom: 10%;

}



.titulo h3{

    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #000000;
    margin: 0;

}
.parrafo{

    display: flex;
    justify-content: flex-start;
    margin-left: 2rem;
}


.contenido-comidas{
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    border-radius: 10px;
    padding: 0.5rem;
    height: 8rem;
}


.subContenido-comidas{

    display: flex;
    justify-content: center;
    align-items: center;
}

.descripción-comidas{

    margin-left: 15px;
}


.modal-dialog{

    margin-top: 10rem;
}



/*seccion carrito de compras*/

#seccion-carrito{
    display: none;
}

.contenido-logo{

margin-top: 15%;
margin-bottom: 15%;
}

.contenido-logo nav{

display: flex;
justify-content: center;
}

.titulo{

margin-left: 1rem;
margin-bottom: 1rem;
}

.parrafo{

margin-left: 1rem;
}

.contenido-carrito{

display: flex;
justify-content: space-around;
background-color: white;
display: flex;
justify-content: space-around;
margin: 1rem;
border-radius: 10px;
height: 8rem;
}

.subContenido-carrito{

display: flex;
justify-content: center;
align-items: center;
}

.descripción-carrito{

margin-left: 0.5rem;
}

.compra-total{

background-color: white;
margin: 1rem;
padding: 0.5rem;
border-radius: 1rem;
display: flex;
justify-content: space-around;
align-items: center;
height: 7rem;
}


    /*---------------------seccion Ubicacion------------------*/

    #seccion-ubicacion{

        display: none;
    }
.contenido-logo-u{

    margin-top: 15%;
    margin-bottom: 15%;
}

.contenido-logo-u nav{

    display: flex;
    justify-content: center;
}


.contenido-mapa{

    margin: 1rem;
    display: flex;
    justify-content: center;
}

.parrafo{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #1E1E1E;
}

.mapa{

    display: flex;
    justify-content: center;
}


.contenido-3-u{

    margin-top: 5%;
}
.botones-u{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#boton-confirmar{

    width: 200px;
    height: 40px;
    border-radius: 1rem;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    background-color: #0C79FA;
    margin-left: 1rem;
}

#boton-pagar{
    width: 200px;
    height: 40px;
    border-radius: 1rem;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    background-color: #0C79FA;
    margin-left: 1rem;

}